.root {
  font-family: 'Roboto', 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: geometricPrecision;
}

.page {
  background-color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header {
  position: fixed;
  top: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 99vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #df2626;
  z-index: 99;
}

.header__logo {
  background: url(./../images/ArrowRD.png);
  border: none;
  width: 40px;
  height: 40px;
  background-color: #df2626;
  padding: 0;
  margin-left: 60px;
  margin-top: 22px;
  margin-bottom: 22px;
  z-index: 2;
  cursor: pointer;
  -webkit-transition: -webkit-transform ease 350ms;
  transition: -webkit-transform ease 350ms;
  transition: transform ease 350ms;
  transition: transform ease 350ms, -webkit-transform ease 350ms;
  display: block;
}

@media (max-width: 1440px) {
  .header__logo {
    background-size: contain;
    width: 30px;
    height: 30px;
    margin-left: 41px;
    display: block;
  }
}

@media (max-width: 768px) {
  .header__logo {
    background-size: contain;
    height: 26.55px;
    width: 25.7px;
    border-radius: 0px;
    margin-left: 21px;
    display: block;
  }
}

.header__logo_active {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.header__logo-hidden {
  display: none;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 50px;
  list-style: none;
}

@media (max-width: 1440px) {
  .header__menu {
    display: none;
  }
}

@media (max-width: 768px) {
  .header__menu {
    display: none;
    margin: auto;
    padding: 0;
  }
}

.header__menu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 40px;
  margin: auto;
}

.header__menu-item:last-child {
  padding-right: 0px;
}

@media (max-width: 768px) {
  .header__menu-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
    padding: 0;
    text-align: center;
  }
}

.header__menu-ref {
  font-family: Roboto;
  color: aliceblue;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-decoration: none;
}

.header__menu-ref:hover {
  font-weight: bold;
}

.header__menu-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 768px) {
  .header__menu-active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 76px;
  }
}

.header__hamburger-button {
  display: none;
  background: #df2626;
  cursor: pointer;
}

@media (max-width: 1440px) {
  .header__hamburger-button {
    display: block;
    padding-right: 24px;
    border: none;
  }
}

@media (max-width: 768px) {
  .header__hamburger-button {
    padding-right: 24px;
    border: none;
  }
}

.header__hamburger-button-hidden {
  display: none;
}

.header__menuIcon {
  display: none;
  width: 32px;
  height: 20px;
}

@media (max-width: 1440px) {
  .header__menuIcon {
    display: block;
  }
}

.header__menuIcon-hidden {
  display: none;
}

.header__closeIcon {
  width: 27px;
  height: 27px;
}

.header__closeIcon-hidden {
  display: none;
}

@media (max-width: 768px) {
  .header__closeIcon {
    position: fixed;
    top: 16.4px;
    right: 14.4px;
  }
}

@media (max-width: 1440px) {
  .header__closeIcon {
    position: fixed;
    top: 16.4px;
    right: 14.4px;
  }
}

.main {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.introduction {
  background-color: #FFFFFF;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 624px 642px;
      grid-template-columns: 624px 642px;
  -ms-grid-rows: 220px 285px 50px;
      grid-template-rows: 220px 285px 50px;
  grid-column-gap: 70px;
  max-width: 1340px;
  padding: 0;
  padding-top: 134px;
  padding-bottom: 50px;
}

@media (max-width: 1440px) {
  .introduction {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: calc(100vw-80px);
  }
}

@media (max-width: 768px) {
  .introduction {
    padding: 0;
    padding-top: 84px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 280px;
  }
}

.introduction__title {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  margin: 0;
  padding: 0;
  font-family: Roboto;
  font-size: 100px;
  font-weight: 400;
  line-height: 110px;
  letter-spacing: 0em;
  text-align: left;
  max-width: 624px;
}

@media (max-width: 1440px) {
  .introduction__title {
    position: static;
    max-width: 624px;
  }
}

@media (max-width: 768px) {
  .introduction__title {
    font-family: Roboto;
    font-size: 47px;
    font-weight: 400;
    line-height: 56px;
    letter-spacing: 0em;
    text-align: left;
  }
}

.introduction__description {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  max-width: 469px;
  padding: 0;
  padding-left: 5px;
  margin-top: 65px;
}

@media (max-width: 1440px) {
  .introduction__description {
    position: relative;
    position: static;
    margin: 0;
    margin-top: 60px;
    padding: 0;
  }
}

@media (max-width: 768px) {
  .introduction__description {
    position: relative;
    position: static;
    margin: 0;
    margin-top: 60px;
    padding: 0;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
  }
}

.introduction__detail {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  width: 228px;
  height: 49px;
  border: none;
  background-image: url(./../images/detail.png);
  background-color: #FFFFFF;
  cursor: pointer;
}

@media (max-width: 1440px) {
  .introduction__detail {
    position: relative;
    position: static;
    margin: 0;
    margin-top: 60px;
    padding: 0;
  }
}

@media (max-width: 768px) {
  .introduction__detail {
    background-image: url(./../images/detailS.png);
    width: 169px;
    height: 40px;
    margin-top: 30px;
    margin-bottom: 20px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
  }
}

.introduction__picture-block {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1/4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 642px;
  height: 555px;
  background-image: url(./../images/introduction.png);
  background-size: 100%;
}

@media (max-width: 1440px) {
  .introduction__picture-block {
    margin: auto;
    position: static;
    margin-top: 60px;
    width: 688px;
    height: 594px;
    background-size: contain;
  }
}

@media (max-width: 768px) {
  .introduction__picture-block {
    position: static;
    margin-top: 60px;
    width: 280px;
    height: 242px;
    background-size: contain;
  }
}

.composition {
  background-color: #ffce00;
  width: 98vw;
  padding-top: 50px;
}

@media (max-width: 1440px) {
  .composition {
    max-width: 768px;
  }
}

@media (max-width: 768px) {
  .composition {
    max-width: 768px;
    min-height: auto;
    padding: 0;
  }
}

.composition__wrapper {
  width: 1340px;
  position: relative;
  min-height: 919px;
  margin: auto;
  display: block;
}

@media (max-width: 1440px) {
  .composition__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 688px;
    min-height: 1644px;
  }
}

@media (max-width: 768px) {
  .composition__wrapper {
    max-width: 280px;
    min-height: 1090px;
  }
}

.composition__nav-element {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-transform: uppercase;
  text-align: left;
  max-width: 280px;
}

@media (max-width: 768px) {
  .composition__nav-element {
    border-top: 1px solid black;
    width: 280px;
    margin: 0;
    margin-top: 40px;
    padding-top: 20px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
  }
}

.composition__title {
  max-width: 403px;
  margin-top: 50px;
  font-family: Roboto;
  font-size: 64px;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: 0em;
  text-align: left;
}

@media (max-width: 1440px) {
  .composition__title {
    max-width: 624px;
    margin-top: 40px;
  }
}

@media (max-width: 768px) {
  .composition__title {
    padding: 0;
    margin: 0;
    margin-top: 30px;
    font-family: Roboto;
    font-family: Roboto;
    font-size: 30px;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left;
  }
}

.composition__description {
  max-width: 400px;
  margin: 0;
  padding: 0;
  margin-top: 100px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
}

@media (max-width: 1440px) {
  .composition__description {
    position: relative;
    margin: 0;
    margin-top: 60px;
    padding: 0;
  }
}

@media (max-width: 768px) {
  .composition__description {
    position: relative;
    margin: 0;
    margin-top: 60px;
    padding: 0;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
  }
}

.composition__paragraph {
  margin: 0;
  padding: 0;
}

@media (max-width: 768px) {
  .composition__paragraph {
    margin-bottom: 36px;
    margin-top: 0px;
  }
}

.composition__paragraph:last-of-type {
  margin-top: 20px;
}

.composition__detail {
  position: absolute;
  top: 636px;
  width: 228px;
  height: 49px;
  border: none;
  background-image: url(./../images/detail.png);
  background-color: transparent;
  cursor: pointer;
}

@media (max-width: 1440px) {
  .composition__detail {
    position: static;
    background-image: url(./../images/detail.png);
    width: 228px;
    height: 49px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-top: 60px;
  }
}

@media (max-width: 768px) {
  .composition__detail {
    background-image: url(./../images/detailS.png);
    width: 169px;
    height: 40px;
    position: static;
    margin: 0;
    margin-top: 0px;
    padding: 0;
  }
}

.composition__picture-block {
  position: absolute;
  background-image: url(./../images/composition.png);
  width: 642px;
  height: 685px;
  top: 0px;
  right: 0px;
}

@media (max-width: 1440px) {
  .composition__picture-block {
    position: static;
    margin-top: 10px;
    width: 688px;
    height: 685px;
    background-size: contain;
  }
}

@media (max-width: 768px) {
  .composition__picture-block {
    margin-top: 60px;
    width: 280px;
    height: 278px;
    background-size: contain;
  }
}

.composition__rules-block {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  top: 770px;
  padding: 0;
}

@media (max-width: 1440px) {
  .composition__rules-block {
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 45px;
    padding: 0;
  }
}

@media (max-width: 768px) {
  .composition__rules-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: static;
    margin-top: 64px;
    width: 278px;
  }
}

.composition__rules {
  max-width: 291px;
  margin-right: 56px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
}

@media (max-width: 1440px) {
  .composition__rules {
    margin: 0;
    max-width: 688px;
    padding: 0;
    margin-top: 0px;
    border-bottom: 1px solid black;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media (max-width: 768px) {
  .composition__rules {
    max-width: 270px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    padding: 0;
    padding-top: 14px;
    margin-top: 0;
    padding-bottom: 14px;
    border-bottom: 1px solid #000000;
    margin-top: 0px;
  }
}

.composition__rules:last-of-type {
  margin-right: 0px;
  border-bottom: none;
}

.camera {
  background-color: #000000;
  padding-top: 50px;
  width: 98vw;
}

@media (max-width: 1440px) {
  .camera {
    max-width: 768px;
  }
}

@media (max-width: 768px) {
  .camera {
    max-width: 768px;
    min-height: 300px;
  }
}

.camera__wrapper {
  width: 1340px;
  position: relative;
  min-height: 1357px;
  margin: auto;
  display: block;
}

@media (max-width: 1440px) {
  .camera__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 688px;
    min-height: 2159px;
  }
}

@media (max-width: 768px) {
  .camera__wrapper {
    max-width: 280px;
    min-height: 300px;
  }
}

.camera__nav-element {
  font-family: Roboto;
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  padding: 0;
  margin: 0;
  max-width: 280px;
}

@media (max-width: 768px) {
  .camera__nav-element {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    width: 280px;
    border-top: 1px solid #FFFFFF;
    padding-top: 20px;
  }
}

.camera__title {
  max-width: 618px;
  margin-top: 50px;
  color: #FFFFFF;
  font-family: Roboto;
  font-size: 122px;
  font-weight: 400;
  line-height: 122px;
  letter-spacing: 0em;
  text-align: left;
}

@media (max-width: 1440px) {
  .camera__title {
    max-width: 624px;
    margin-top: 40px;
    margin-bottom: 0px;
  }
}

@media (max-width: 768px) {
  .camera__title {
    font-family: Roboto;
    font-size: 48px;
    font-weight: 400;
    line-height: 56px;
    letter-spacing: 0em;
    text-align: left;
  }
}

.camera__review {
  position: absolute;
  top: 784px;
  font-family: Roboto;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF;
}

@media (max-width: 1440px) {
  .camera__review {
    position: static;
    margin: 0;
    padding: 0;
    margin-top: 60px;
  }
}

@media (max-width: 768px) {
  .camera__review {
    position: static;
    margin-top: 60px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
  }
}

.camera__picture-block {
  position: absolute;
  background-image: url(./../images/camera.png);
  width: 642px;
  height: 832px;
  top: 0px;
  right: 0px;
}

@media (max-width: 1440px) {
  .camera__picture-block {
    position: static;
    margin-top: 60px;
    width: 688px;
    height: 656px;
    background-size: contain;
  }
}

@media (max-width: 768px) {
  .camera__picture-block {
    margin-top: 60px;
    width: 280px;
    height: 268px;
    background-size: contain;
  }
}

.camera__review-block {
  position: absolute;
  top: 1012px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
}

@media (max-width: 1440px) {
  .camera__review-block {
    position: static;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
    margin-top: 180px;
    padding: 0;
  }
}

@media (max-width: 768px) {
  .camera__review-block {
    position: static;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
    margin-top: 60px;
    padding: 0;
  }
}

.camera__review-element {
  color: #FFFFFF;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 1440px) {
  .camera__review-element {
    padding-bottom: 60px;
    border-bottom: 1px solid #FFFFFF;
  }
  .camera__review-element:last-of-type {
    border-bottom: none;
    padding-bottom: 0;
    padding-top: 60px;
  }
}

@media (max-width: 768px) {
  .camera__review-element {
    padding-bottom: 20px;
    border-bottom: 1px solid #FFFFFF;
  }
  .camera__review-element:last-of-type {
    border-bottom: none;
    padding-bottom: 0;
    padding-top: 30px;
  }
}

.camera__paragraph {
  max-width: 560px;
  max-height: 173px;
  margin: 0;
  margin-right: 172px;
  padding: 0;
  color: #FFFFFF;
  font-family: Roboto;
  font-size: 43px;
  font-weight: 400;
  line-height: 43px;
  letter-spacing: 0em;
  text-align: left;
}

@media (max-width: 768px) {
  .camera__paragraph {
    font-family: Roboto;
    font-size: 24px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0;
    padding: 0;
  }
}

.cameraparagraph:last-child {
  margin-right: 0px;
  border-bottom: none;
}

.camera__review-author {
  color: #FFFFFF;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 60px;
}

@media (max-width: 768px) {
  .camera__review-author {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 30px;
  }
}

.camera__review-email {
  margin-top: 10px;
  color: #FFFFFF;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0em;
  text-align: left;
}

@media (max-width: 768px) {
  .camera__review-email {
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: left;
  }
}

.order {
  background-color: #FFFFFF;
  display: block;
  position: relative;
  width: 1340px;
  min-height: 645px;
  padding-top: 50px;
  padding-bottom: 50px;
}

@media (max-width: 1440px) {
  .order {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 688px;
    padding-top: 40px;
  }
}

@media (max-width: 768px) {
  .order {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 280px;
    min-height: auto;
    padding-bottom: 20px;
  }
}

.order__nav-element {
  font-family: Roboto;
  color: #000000;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  padding: 0;
  margin: 0;
  margin-top: 0px;
  max-width: 280px;
}

@media (max-width: 1440px) {
  .order__nav-element {
    font-family: Roboto;
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
  }
}

@media (max-width: 768px) {
  .order__nav-element {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    padding: 0;
    padding-top: 20px;
    border-top: 1px solid #000000;
    margin: 0;
  }
}

.order__title {
  font-family: Roboto;
  font-size: 64px;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: 0em;
  text-align: left;
  max-width: 549px;
  margin-top: 50px;
}

@media (max-width: 1440px) {
  .order__title {
    max-width: 624px;
    position: static;
    font-family: Roboto;
    font-size: 64px;
    font-weight: 400;
    line-height: 64px;
    letter-spacing: 0em;
    text-align: left;
    padding: 0;
    margin: 0;
    margin-top: 40px;
  }
}

@media (max-width: 768px) {
  .order__title {
    position: static;
    font-family: Roboto;
    font-size: 32px;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left;
    padding: 0;
    margin: 0;
    margin-top: 30px;
  }
}

.order__description {
  position: absolute;
  top: 366px;
  right: 0px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  max-width: 380px;
}

@media (max-width: 1440px) {
  .order__description {
    position: static;
    margin: 0;
    margin-top: 60px;
    padding: 0;
  }
}

@media (max-width: 768px) {
  .order__description {
    position: static;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
  }
}

.order__detail {
  width: 228px;
  height: 49px;
  border: none;
  background-image: url(./../images/detail.png);
  background-color: #FFFFFF;
  cursor: pointer;
  position: absolute;
  right: 152px;
  bottom: 50px;
}

@media (max-width: 1440px) {
  .order__detail {
    position: static;
    margin: 0;
    margin-top: 60px;
    padding: 0;
  }
}

@media (max-width: 768px) {
  .order__detail {
    position: static;
    background-image: url(./../images/detailS.png);
    width: 169px;
    height: 40px;
    margin: 0;
    margin-top: 30px;
    padding: 0;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
  }
}

.order__picture-block {
  position: absolute;
  bottom: 50px;
  background-image: url(./../images/order.png);
  width: 648px;
  height: 333px;
}

@media (max-width: 1440px) {
  .order__picture-block {
    position: static;
    margin-top: 60px;
    width: 688px;
    height: 360px;
    background-size: contain;
  }
}

@media (max-width: 768px) {
  .order__picture-block {
    position: static;
    margin-top: 60px;
    width: 280px;
    height: 147px;
    background-size: contain;
  }
}

.footer {
  background-color: #df2626;
  width: 98vw;
}

@media (max-width: 1440px) {
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 768px;
  }
}

@media (max-width: 768px) {
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 320px;
  }
}

.footer__wrapper {
  width: 1340px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  padding-top: 50px;
  min-height: 570px;
  margin: auto;
}

@media (max-width: 1440px) {
  .footer__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 688px;
    min-height: 584px;
  }
}

@media (max-width: 768px) {
  .footer__wrapper {
    padding-top: 0px;
    max-width: 280px;
  }
}

.footer__icon {
  width: 129px;
  height: 95px;
  background-image: url(./../images/footer-arrow.png);
}

@media (max-width: 1440px) {
  .footer__icon {
    display: none;
  }
}

@media (max-width: 768px) {
  .footer__icon {
    display: none;
  }
}

.footer__title {
  position: absolute;
  margin-top: 0px;
  margin-left: 180px;
  color: #FFFFFF;
  font-family: Roboto;
  font-family: Roboto;
  font-size: 120px;
  font-weight: 400;
  line-height: 120px;
  letter-spacing: 0em;
  text-align: left;
  max-width: 685px;
}

@media (max-width: 1440px) {
  .footer__title {
    position: static;
    font-family: Roboto;
    font-size: 100px;
    font-weight: 400;
    line-height: 100px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0;
    padding: 0;
  }
}

@media (max-width: 768px) {
  .footer__title {
    position: static;
    font-family: Roboto;
    font-size: 48px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 40px;
    padding-top: 20px;
    border-top: 2px solid #FFFFFF;
  }
}

.footer__emailform {
  position: absolute;
  left: 184px;
  top: 410px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@media (max-width: 1440px) {
  .footer__emailform {
    position: static;
    margin-top: 190px;
  }
}

@media (max-width: 768px) {
  .footer__emailform {
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding: 0;
    margin-top: 200px;
  }
}

.footer__input {
  width: 325px;
  height: 50px;
  margin: 0;
  padding: 0;
  padding-left: 20px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.375px;
  text-align: left;
  border-color: #000000;
  border-radius: 8px 0 0 8px;
}

@media (max-width: 768px) {
  .footer__input {
    position: static;
    width: 175px;
    font-family: Roboto;
    font-size: 11px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.375px;
    text-align: left;
    margin: 0;
  }
}

.footer__button {
  width: 205px;
  margin: 0;
  margin-left: -4px;
  margin-top: 2px;
  padding: 0;
  height: 54px;
  font-family: Roboto;
  background-color: #FFFFFF;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.375px;
  text-align: center;
  border-color: #000000;
  border-radius: 0 8px 8px 0;
  cursor: pointer;
}

@media (max-width: 768px) {
  .footer__button {
    position: static;
    width: 107px;
    font-family: Roboto;
    font-size: 11px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.375px;
    text-align: center;
    margin: 0;
    padding: 0;
  }
}

.footer__sitename {
  position: absolute;
  top: 530px;
  color: #FFFFFF;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

@media (max-width: 1440px) {
  .footer__sitename {
    position: static;
    margin: 0;
    margin-top: 80px;
    padding: 0;
  }
}

@media (max-width: 768px) {
  .footer__sitename {
    position: static;
    margin: 0;
    margin-top: 53px;
    padding: 0;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
  }
}
/*# sourceMappingURL=indexscss.css.map */