.introduction {
  margin: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -ms-grid;
  display: grid;
  max-width: 1340px;
  -ms-grid-columns: 624px 642px;
      grid-template-columns: 624px 642px;
  -ms-grid-rows: 220px 285px 50px;
      grid-template-rows: 220px 285px 50px;
  grid-column-gap: 70px;
  background-color: #FFFFFF;
  padding: 0;
  padding-top: 134px;
  padding-bottom: 50px;
}

@media (max-width: 1439px) {
  .introduction {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 688px;
    padding-top: 114px;
    padding-bottom: 41px;
  }
}

@media (max-width: 767px) {
  .introduction {
    padding: 0;
    padding-top: 84px;
    max-width: 280px;
  }
}

.introduction__title {
  margin: 0;
  padding: 0;
  font-weight: 400;
  text-align: left;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  font-size: 100px;
  line-height: 110px;
  letter-spacing: 0em;
  max-width: 624px;
}

@media (max-width: 1439px) {
  .introduction__title {
    max-width: 624px;
  }
}

@media (max-width: 767px) {
  .introduction__title {
    font-size: 47px;
    line-height: 56px;
  }
}

.introduction__description {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  max-width: 469px;
  padding: 0;
  padding-left: 2px;
  margin-top: 65px;
}

@media (max-width: 1439px) {
  .introduction__description {
    margin: 0;
    margin-top: 60px;
    padding: 0;
  }
}

@media (max-width: 767px) {
  .introduction__description {
    margin: 0;
    margin-top: 60px;
    padding: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
  }
}

.introduction__detail {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  width: 228px;
  height: 49px;
  font-weight: 400;
  font-size: 18px;
  border: none;
  background-image: url(./../images/detail.svg);
  cursor: pointer;
  -webkit-transition: font-weight ease .3s;
  transition: font-weight ease .3s;
  background-color: #FFFFFF;
}

@media (max-width: 1439px) {
  .introduction__detail {
    position: relative;
    margin: 0;
    margin-top: 60px;
    padding: 0;
  }
}

@media (max-width: 767px) {
  .introduction__detail {
    background-image: url(./../images/detailS.svg);
    width: 169px;
    height: 40px;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
    cursor: pointer;
    -webkit-transition: font-weight ease .3s;
    transition: font-weight ease .3s;
    margin-top: 30px;
    margin-bottom: 20px;
  }
}

.introduction__detail:hover {
  font-weight: 500;
}

.introduction__picture-block {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1/4;
  width: 642px;
  height: 555px;
}

@media (max-width: 1439px) {
  .introduction__picture-block {
    margin: auto;
    margin-top: 60px;
    width: 688px;
    height: 594px;
  }
}

@media (max-width: 767px) {
  .introduction__picture-block {
    margin-top: 60px;
    width: 280px;
    height: 242px;
  }
}
/*# sourceMappingURL=introduction.css.map */