.composition {
  background-color: #ffce00;
  width: 1440px;
  margin: auto;
  padding-top: 50px;
}

@media (max-width: 1439px) {
  .composition {
    width: 768px;
  }
}

@media (max-width: 767px) {
  .composition {
    width: 320px;
    min-height: auto;
    padding: 0;
  }
}

.composition__wrapper {
  width: 1340px;
  position: relative;
  min-height: 919px;
  margin: auto;
  display: block;
}

@media (max-width: 1439px) {
  .composition__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 688px;
    min-height: 1644px;
  }
}

@media (max-width: 767px) {
  .composition__wrapper {
    max-width: 280px;
    min-height: 1090px;
  }
}

.composition__nav-element {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-transform: uppercase;
  text-align: left;
  max-width: 280px;
}

@media (max-width: 767px) {
  .composition__nav-element {
    border-top: 1px solid black;
    width: 280px;
    margin: 0;
    margin-top: 40px;
    padding-top: 20px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
  }
}

.composition__title {
  max-width: 403px;
  margin-top: 50px;
  font-family: Roboto;
  font-size: 64px;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: 0em;
  text-align: left;
}

@media (max-width: 14390px) {
  .composition__title {
    max-width: 624px;
    margin-top: 40px;
  }
}

@media (max-width: 767px) {
  .composition__title {
    padding: 0;
    margin: 0;
    margin-top: 30px;
    font-family: Roboto;
    font-family: Roboto;
    font-size: 30px;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left;
  }
}

.composition__description {
  max-width: 400px;
  margin: 0;
  padding: 0;
  margin-top: 100px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
}

@media (max-width: 1439px) {
  .composition__description {
    position: relative;
    margin: 0;
    margin-top: 60px;
    padding: 0;
  }
}

@media (max-width: 767px) {
  .composition__description {
    position: relative;
    margin: 0;
    margin-top: 60px;
    padding: 0;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
  }
}

.composition__paragraph {
  margin: 0;
  padding: 0;
}

@media (max-width: 767px) {
  .composition__paragraph {
    margin-bottom: 36px;
    margin-top: 0px;
  }
}

.composition__paragraph:last-of-type {
  margin-top: 20px;
}

.composition__detail {
  position: absolute;
  top: 636px;
  width: 228px;
  height: 49px;
  border: none;
  background-image: url(./../images/detail.png);
  background-color: transparent;
  cursor: pointer;
}

@media (max-width: 1439px) {
  .composition__detail {
    position: static;
    background-image: url(./../images/detail.png);
    width: 228px;
    height: 49px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-top: 60px;
  }
}

@media (max-width: 767px) {
  .composition__detail {
    background-image: url(./../images/detailS.png);
    width: 169px;
    height: 40px;
    position: static;
    margin: 0;
    margin-top: 0px;
    padding: 0;
  }
}

.composition__picture-block {
  position: absolute;
  background-image: url(./../images/composition.png);
  width: 642px;
  height: 685px;
  top: 0px;
  right: 0px;
}

@media (max-width: 1439px) {
  .composition__picture-block {
    position: static;
    margin-top: 10px;
    width: 688px;
    height: 685px;
    background-size: contain;
  }
}

@media (max-width: 767px) {
  .composition__picture-block {
    margin-top: 60px;
    width: 280px;
    height: 278px;
    background-size: contain;
  }
}

.composition__rules-block {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  top: 770px;
  padding: 0;
}

@media (max-width: 1439px) {
  .composition__rules-block {
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 45px;
    padding: 0;
  }
}

@media (max-width: 767px) {
  .composition__rules-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: static;
    margin-top: 64px;
    width: 278px;
  }
}

.composition__rules {
  max-width: 291px;
  margin-right: 56px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
}

@media (max-width: 1439px) {
  .composition__rules {
    margin: 0;
    max-width: 688px;
    padding: 0;
    margin-top: 0px;
    border-bottom: 1px solid black;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .composition__rules {
    max-width: 270px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    padding: 0;
    padding-top: 14px;
    margin-top: 0;
    padding-bottom: 14px;
    border-bottom: 1px solid #000000;
    margin-top: 0px;
  }
}

.composition__rules:last-of-type {
  margin-right: 0px;
  border-bottom: none;
  padding-bottom: 18px;
}
/*# sourceMappingURL=composition.css.map */